<h3 class="text-center">Login</h1>

<div class="container">
<div class="row">
  <div class="col-sm-4 offset-sm-4 centered">

    <%= form_tag "/sessions" do %>

      <p>Email: <input name="email" type="text" autofocus class="form-control" required></p>
      <p>Password: <input name="password" type="password" autofocus class="form-control" required></p>

      <button class="btn btn-primary btn-block">Log In</button>
      <%= link_to "Cancel", "/", class: 'btn btn-secondary btn-block' %>

      <p>
      	<h5 class="text-center">New to the Vinyl Countdown?<br>
      		<a href="/users/new">Sign Up</a></h5>
      </p>

    <% end %>

  </div>
</div>


<div class="row">
  <div class="col-sm-6 offset-sm-3">
  <hr>
  <p class="text-center">
  Login information of a few users in the system.
  </p>

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Email</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>tom@example.com</td>
          <td>jerry</td>
        </tr>
        <tr>
          <td>pink@example.com</td>
          <td>panther</td>
        </tr>
        <tr>
          <td>silvester@example.com</td>
          <td>tweety</td>
        </tr>
    </tbody>
  </table>
</div>
</div>

</div>
