<%= stylesheet_link_tag 'vinyl_index' %>

<% user = User.find_by(id: params["id"]) %>

<h3 class="text-center">Edit User Account</h1>

<div class="container">
<div class="row">

  <div class="col-sm-4 offset-sm-4 centered">

    <%= form_tag "/users/#{user.id}", method: "patch" do %>

      <p>Email: <input value="<%= user.email %>" name="email" type="text" autofocus class="form-control"></p>
      <p>Password: <input name="password" type="password" autofocus class="form-control" pattern=".{5,}" title="5 characters minimum" ></p>
      <p>Re-enter Password:  <input name="password_confirmation" type="password" autofocus class="form-control" pattern=".{5,}" title="5 characters minimum"></p>

      <button class="btn btn-primary btn-block">Update User</button>
      <%= link_to "Cancel", "/users", class: 'btn btn-secondary btn-block' %>

    <% end %>

  </div>


</div>
</div>